

<% @posts.each do |post|%>
<%= render(post)%>
<% end%>


<hr>
<div class=' text-right py-4 text-lg  '>
  
<%= link_to 'Criar novo post', new_post_path, method: :get, class: 'bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 cursor-pointer px-4 rounded' %>
  </div>

